* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    width: 100vw;
    height: 100vh;
  }

  aside {
    height: 100%;
    width: 100px;
  }

  main {
    height: 100%;
    width: calc(100% - 100px);
  }